<h1>New Restaurant</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], prompt: "- Select categrory" %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
